body {
  background-color: #111; /* Dark grey background color */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.logo {
  font-size: 2.5rem;
  color: #1478f2;
  font-weight: bold;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#signup-container {
  background-color: #333; /* Dark grey container background color */
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add shadow for depth */
  position: relative;
  margin-bottom: 20px;
  max-width: 400px; /* Limit the maximum width */
  width: calc(100% - 40px); /* Take full width with some margin */
  text-align: center; 
}

#signup-container input {
  width: calc(100% - 40px); /* Take full width with some margin */
  margin-bottom: 15px;
  border-radius: 19px;
  border: 2px solid #333;
  padding: 16px 19px;
  transition: all 0.3s ease;
  font-size: 16px;
  font-weight: bold;
  background-color: white; /* Dark grey input background color */
  color: black; /* White input text color */
}

#signup-container h2 {
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.btn-primary, .btn-secondary {
  width: calc(100% - 40px); /* Take full width with some margin */
  border-radius: 25px;
  font-weight: bold;
  padding: 10px;
  font-size: large; /* Adjust button font size */
}

.message {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.message.show {
  opacity: 1;
}

.message.success {
  background-color: #28a745;
}

.message.error {
  background-color: #dc3545;
}

.text-center {
  text-align: center;
}

#signup-btn{
  width: 70%;
  margin-top: 10px;
  background-color: #1478f2;
  border-color: #1478f2;
  color: white;
  font-weight: bold;

}

#login-btn{
  width: 30%;
  margin-top: 10px;
  background-color: #14f25e;
  border-color:  #14f25e;
  color: white;
  font-weight: bold;
  float: center;
  
}